/* body {
    width: 80%;
    margin: auto;
    border: solid 1px green;
} */

.Nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: end;
    position: relative;
    margin-top: 1%;
    /* border: solid 1px green; */
}

.Navbar {
    display: flex;
    justify-content: space-between;
    /* border: solid 1px red; */
    width: 65%;
    /* width: 1003px; */
    height: 48px;
    top: 41px;
    /* left: 1043px; */
    border-radius: 200px;
    align-items: center;
    gap: 1%;
    /* position: fixed; */
}


.nav-item-1 {
    width: 73%;
    height: 40px;
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;

    /* line-height: 40px; */
}

.nav-item-1>p {
    font-family: Sora;
    font-size: 1.171875vw;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    /* gap: 10%; */
}

.nav-item-2 {
    width: 25%;
    /* border: solid 1px green; */
}

.nav-item-2 button {
    width: 100%;
    height: 48px;
    display: block;
    border-radius: 200px;
    background: linear-gradient(156deg, #B60B18 0%, #F35460 100%);
    box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.15);
    border-style: none;
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 1.3020833333333333vw;
    font-style: normal;
    font-weight: 500;
    /* line-height: 32px; */
    padding: 8px, 30px;
    /* padding: 8, 30, 8, 30; */
}



/* @media all and (min-width:550px) and (max-width: 890px){ */


/* * {
        box-sizing: border-box;
      }
      
      body {
        margin: 0px;
        font-family: 'segoe ui';
      } */

.nav {
    height: 50px;
    width: 100%;
    background-color: #e59292;
    position: relative;
    top: 0;
    z-index: 999;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    cursor: pointer;
}

.nav>.nav-links>div {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

.nav-item-23 {
    width: 45%;
}

.nav-item-23 button {
    width: 70%;
    height: 48px;
    display: block;
    border-radius: 200px;
    background: linear-gradient(156deg, #B60B18 0%, #F35460 100%);
    box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.15);
    border-style: none;
    color: #FFF;
    font-family: Neue Montreal;
    font-size: 2.3020833333333333vw;
    font-style: normal;
    font-weight: 500;
    /* line-height: 32px; */
    padding: 8px, 30px;
    /* padding: 8, 30, 8, 30; */
}

@media (max-width:650px) {
    .nav>.nav-btn {
        /* border: solid 1px black; */
        display: inline-block;
        position: fixed;
        /* right: 0px; */
        top: 0px;
        background-color: #e87a83;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: fixed;
        display: block;
        width: 100%;
        background-color: #bb6767;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}






